html, body {
  height: 100%;
}

body {
  height: 100%;
  padding: 0em;
  font-family: "Fira Sans", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #000000 url('/static/background.png') bottom repeat-x fixed;
  margin: 0px;
  color: #cccccc;
  text-rendering: optimizeLegibility;
}

#page {
  margin: 2em auto;
  max-width: 960px;
  // max-width: 1600px;
  padding: 1.2em;
  background: rgba(16,16,16,0.8);
}

#navigation {
  margin-top: 0.2em;
  padding-left: 0.2em;
  font-size: 1.0em;
}

#navigation ul li {
  display: inline-block;
  margin-right: 0.5em;
  padding: 0 1em 2px;
  font-weight: bold;
}

#navigation ul.menu_wiki {
  list-style-type: none;
  text-align: left;
  margin-left: 4px;
}

#navigation ul {
  padding: 0px;
  list-style-type: none;
  text-align: right;
}

#navigation ul.menu_wiki li {
  margin-right: 0.5em;
  padding: 0.2em 0em 0em 0em;
  font-weight: bold;
}

#navigation ul.menu_wiki li {
  width: 100%;
  text-align: left;
}

#navigation ul.menu_wiki li a {
  margin-left: 0px;
  //width: 100%;
  text-align: left;
}

#navigation a {
  color: DarkOrange;
}


#navigation ul li.sibling :hover,
#navigation ul li.sibling a:hover,
#navigation ul li.sibling i.fa:hover {
    color: Chartreuse;
    text-shadow: 5px 5px 7px Chartreuse;
}

#navigation ul li.sibling {
  color: DarkOrange;
  text-shadow: 2px 2px 2px #B24700;
  font-size: 1.1em;
  //font-weight: normal;
}

/*
#navigation ul li.sibling a,
#navigation ul li.sibling i.fa {
  color: DarkOrange;
  //text-shadow: 2px 2px 2px #B24700;
  //font-size: 1.1em;
  //font-weight: normal;
}
*/

#navigation ul li.selected a,
#navigation ul li.selected i.fa {
  color: Azure;
  text-shadow: 2px 2px 4px Grey;
  font-size: 1.1em;
}

/*
#navigation ul li.selected i.fa {
    color: Azure;
    text-shadow: 3px 3px 2px Grey;
}
*/


a {
  color: #009FDA;
  text-decoration: none;
}

a:hover {
  color: #00BAFF;
}

a {
  font-weight: bold;
}

a.wiki_index  {
  font-weight: normal;
}

ul.wiki_index {
    list-style-type: none;
    padding: 0.5em;
    margin-top: 0.33em;
    margin-left: 1em;
}

ul.wiki_index li {
    margin-top: 0.5em;
}

h4.wiki_index {
    margin-top: 1.5em;
    margin-bottom: 0em;
}

div.site-message {
    color: DarkOrange;
    padding: 0.8em;
    font-weight: 600;
    background: #444444;
}

#wiki_article {

    padding-left: 1em;

}

#page-content {
  margin-top: 1em;
  margin-right: 1%;
  margin-left: 0px;
  padding: 0.6em;
  background: rgba(16,16,16,0.8);
}

#side-nav {
  margin-top: 1em;
  margin-left: 1%;
  margin-right: 0px;
  padding: 0.6em;
  background: rgba(16,16,16,0.8);
}


/* HEADER STUFF */

#site-name {
  margin: 10px 0px 0px 0px;
  color: #ffffff;
  text-shadow: 3px 3px 6px #666666;
  font-size: 1.8em;
}

#site-name.right {
  text-align: right;
}

#site-name.left {
  text-align: left;
}

#user-greeting-wiki {
  margin-left: 12px;
  text-align: left;
  color: #ffffff;
  text-shadow: 1px 1px 2px #444444;
  font-size: 0.8em;
}

#user-greeting {
  margin-right: 12px;
  text-align: right;
  color: #ffffff;
  text-shadow: 1px 1px 2px #444444;
  font-size: 0.8em;
}

div.adr {
  margin-left: 2em;
  font-weight: bold;
}


/* CONTENT STUFF */

.page-title {
  padding: 5px 10px;
  background: #000;
}

#content {
  padding: 0 1em;
}



/* forms */

#member_login li {
    //list-style-type: none;
    padding: 1 em;
    margin-top: 20px;
}

form.loginform ul {
    list-style-type: none;
    padding: 1 em;
    margin-top: 20px;
}

form.loginform ul li.buttons{
    padding: 1 em;
    margin-top: 1em;
}

form.wiki-form ul {
  list-style-type: none;
  margin-top: 1em;
}

form.wiki-form ul li{
  padding-top: 0.6em;
}

.ncms_buttons {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:Courier New;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:99px;
	text-decoration:none;
	text-align:center;
    margin-right: 1.5em;
    margin-top: 0.5em;
	box-shadow: 3px 3px 3px #444444;

}

.ncms_buttons:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}

.ncms_buttons:active {
	position:relative;
	top:1px;
}  /* This button was generated using CSSButtonGenerator.com */