/* Basic HTML resetting */
html, body {
    height: 100%;
}

body {
    height: 100%;
    padding: 0em;
    font-family: "Fira Sans", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #000 url('/static/background-copper.png') bottom repeat-x fixed;
    margin: 0px;
    color: #cccccc;
    text-rendering: optimizeLegibility;
}

body.wiki {
    background: #051615 url('/static/background-blue.png') bottom repeat-x fixed;
}


a {
    color: #009FDA;
    text-decoration: none;
}

a:hover {
    color: #00BAFF;
}

a {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
}

table, th, td {
    border: 2px solid rgb(11, 75, 131);
    border-collapse: collapse;
}

/* Layout stuff */
#page {
    margin: 2em auto;
    max-width: 960px;
    // max-width: 1600px;
    padding: 1.2em;
    background: rgba(16,13,19,0.75);
}

/* Navigation stuff */
#navigation {
    margin-top: 0.2em;
    padding-left: 0.2em;
    font-size: 1.0em;
}

#navigation ul li {
    display: inline-block;
    margin-right: 0.5em;
    padding: 0 1em 2px;
    font-weight: bold;
}

#navigation ul {
    padding: 0px;
    list-style-type: none;
    text-align: right;
}

#navigation a {
    color: #EF9914;
}

#navigation ul li.sibling :hover,
#navigation ul li.sibling a:hover,
#navigation ul li.sibling i.fa:hover {
    color: #00BAFF;
    text-shadow: 5px 5px 7px #00BAFF;
}

#navigation ul li.sibling {
    text-shadow: 2px 2px 2px #8E6143;
    font-size: 1.1em;
}

#navigation ul li.selected a,
#navigation ul li.selected i.fa {
    color: Azure;
    text-shadow: 2px 2px 4px Grey;
    font-size: 1.1em;
}

div.site-message-error {
    color: Red;
    padding: 0.8em;
    font-weight: 600;
    font-size: 120%;
    background: #444444;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 1.5em;
}

div.site-message-success {
    color: Chartreuse;
    padding: 0.8em;
    font-weight: 600;
    background: #222222;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 1.5em;
}

div.site-message-info {
    color: #009fda;
    padding: 0.8em;
    font-weight: 600;
    background: #222222;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 1.5em;
}

div.site-message-validation {
    color: DarkOrange;
    padding: 0.8em;
    font-weight: 600;
    background: #222222;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 1.5em;
}


/* HEADER STUFF */

#site-name {
    margin: 0px;
    margin-right: 20px;
    padding: 0.1em;
    color: #ffffff;
    text-shadow: 3px 3px 6px #99aa99;
    font-size: 1.8em;
}

#site-name.right {
    text-align: right;
}

#site-name.left {
    text-align: left;
}

#user-greeting {
    position: absolute;
    top:0.5em;
    right: 1em;
    text-align: right;
    color: #ffffff;
    text-shadow: 1px 1px 2px #444444;
    font-size: 0.8em;
    padding: 0.5em;
}

div.adr {
    margin-left: 2em;
    font-weight: bold;
}


/* CONTENT STUFF */

.page-title {
    background: #111;
    padding: 0.25em 1.0em;
    clear: both;

}

#page-content {
  // already set by #page?  background: rgba(16,16,16,0.8);
}

#content {
    padding: 0 1em;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    background: #111;
    padding: 0.2em 0.5em 0.1em;
}

.front #osm-map {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

/* forms */

form.loginform ul {
    list-style-type: none;
    padding-left: 1em;
    margin-top: 0.5em;
}

form.loginform ul li.buttons{
    padding: 1em;
    margin-top: 1em;
}

form.loginform ul li{
    margin-top: 1em;
}

.ncms_buttons {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
    background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color:#63b8ee;
    border:1px solid #3866a3;
    border-radius:15px;
    display:inline-block;
    color:#14396a;
    font-family: "Fira Sans", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size:1em;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-align:center;
    margin-right: 1em;
    padding: 0.2em 0.7em;
    box-shadow: 3px 3px 3px #444444;
}

.ncms_buttons:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
    background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
    background-color:#468ccf;
}

.ncms_buttons:active {
    position:relative;
    top:1px;
}  /* This button was generated using CSSButtonGenerator.com */


/* Wiki stuff */
body.wiki #side-nav {
    clear: right;
    float: right;
    width: 18%;
    display: inline;
    margin-right: 1%;
    margin-left: 0px;
    margin-top: 2em;
    padding: 0.6em;
    background: rgba(16,16,16,0.8);
}

body.wiki #page-content {
    float: left;
    width: 75%;
    display: inline;
    margin-left: 1%;
    margin-right: 0px;
    margin-top: 2em;
    padding: 0.6em;
    background: rgba(16,16,16,0.8);
}

#wiki_article {
    padding-left: 1em;
}

body.wiki #wiki_article a::after {
  font-family: FontAwesome;
  content: " \f08e";
  font-size: 80%;
}

body.wiki #wiki_article a.wiki_internal::after {
  content: '';
}

ul.wiki_index li a {
    font-weight: normal;
}

ul.wiki_index {
    list-style-type: none;
    padding: 0.5em;
    margin-top: 0em;
    margin-left: 1em;
}

ul.wiki_index li {
    margin-top: 0em;
}

ul.category-page-list {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    -column-count: 4;
}

h4.wiki_index {
    margin-top: 1.5em;
    margin-bottom: 0em;
}

#wiki_subcat .help-text .category-name {
  font-weight: bold;
}

#wiki_subcat .help-text .category-id {
  color: #444;
}

form.wiki-form ul {
    list-style-type: none;
    margin-top: 1em;
}

form.wiki-form ul li{
    padding-top: 0.6em;
}

#navigation ul.menu_wiki {
    list-style-type: none;
    text-align: left;
    margin-left: 4px;
}

#navigation ul.menu_wiki li {
    margin-right: 0.5em;
    padding: 0.1em 0em 0em 0em;
    font-weight: bold;
}

#navigation ul.menu_wiki li {
    width: 100%;
    text-align: left;
}

#navigation ul.menu_wiki li a {
    margin-left: 0px;
    //width: 100%;
    text-align: left;
}

.wiki_edit_toolbar {
    float: right;
    margin-top: 2em;
    margin-right: 1em;
}

